.banner-fondo{
    background: url('../images/header.png');
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 250px;
}

.color-nav{
    background:rgba(209, 209, 209);
}

.medidas{
    width: 100px;
    height: 100px;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    color: white;
    background-color: #b19090;
}

.d-block {
    height: 720px;
}

.card-img{
    height: 720px;
}

.contenedor:hover .efect {-webkit-transform:scale(1.05);transform:scale(1.05);}
/*.contenedor {overflow:hidden;}*/

.fondo-footer{
    background: rgba(209, 209, 209);
}

/* Nosotros */

/* Noticias */

.post-list{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    max-width: 1000px;
    margin: 1.8em auto;
}

.content-inicio{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    max-width: 1000px;
    margin: 1.8em auto;
}

.descripcion-noti-inicio{
    font-size: smaller;
}

.post-img-1{
    background:url(../images/test1.jpg) ;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post{
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .2s;
    grid-template-rows: minmax(100px, auto);
}

.post:hover{
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px rgba(0, 0, 0, .15);
}

.post-header{
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.post-header-nosotros{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.post:hover .post-img-1{
  transform: scale(1.1);  
}

.post-body{
    padding: 20px;
    text-align: center;
}

.post-body span{
    display: inline-block;
    color: #999;
    margin-bottom: 10px;
}

.post-body h2{
    margin-bottom: 15px;
}

.post-body p{
    line-height: 1.5;
    margin-bottom: 20px;
}

.post-body .post-link{
    align-items: center;
    text-decoration: none;
    padding: 10px;
    background: #2b6ebb;
    color: #ffffff;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
    transition: .2s;
}

.post-body .post-link-inicio{
    align-items: center;
    text-decoration: none;
    padding: 10px;
    background: #2b6ebb;
    color: #ffffff;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
    transition: .2s;
    font-size: 12px;
}

.post-body .post-link:hover{
    background: #3378c7;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
    transform: translateY(-2px);
}

.limite{
    height:100px;
}

/*-------------correciones generales para que se vea bien en tlf-------------*/

/*footer*/
.row-footer{  
    margin-right: 0px;
}

/*imagen de abajo de inicio*/
.row-img-inicio{
    margin-right: 0px;
    margin-left: 0px;
}

/*slider*/
.row-slider{
    margin-right: 0px;
}

.col-slider{
    padding-right: 0px;
}

.dropdown-item{
    font-size: small;
}

/*Responsive*/

@media (max-width: 840px){
    .content{
        grid-template-columns: repeat(2, 1fr);
    }
    .content-inicio{
        grid-template-columns: repeat(2, 1fr);
    }
    .limite{
        height:auto;
    }
}

@media (max-width: 600px){
    .content{
        grid-template-columns: repeat(1, 1fr);
    }

    .content-inicio{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .limite{
        height:auto;
    }
}

